{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block content%}

<body style="background-color: #ebecec;">
    
    <div id = "login-container">
        <div style="background-image: url(../static/images/ryan-mayer-ofZcnpMukhY-unsplash.jpg); width:50%; border-top-left-radius: .5vw;border-bottom-left-radius: .5vw;"></div>
        <div style="width:50% ; background-color: white;border-radius:.5vw ;">
            <div id="welcome">Banking Reimagined</div>
            <div style="display: flex;justify-content: center;">
                <a href="/login"><button type="button" class="btn btn-outline-dark btn-lg" style=" margin-top: 2vh; margin-right: 2vw;" href="/login">Login</button></a>
                <a href="/sign-up"><button type="button" class="btn btn-outline-dark btn-lg" style=" margin-top: 2vh" href="/sign-up" >Sign-up</button></a>
            </div>
            

        </div>
    </div>
</body>

{% endblock %}